@font-face {
    font-family: 'aliens%20and%20cows';
    src: url('../fonts/aliens%20and%20cows-trial.ttf');
    font-family: 'CaviarDreams';
    src:url('../fonts/CaviarDreams.ttf');
}
@font-face{
  font-family: 'BlackJack';
  src:url('../fonts/blackjack.ttf');
}
          /*BODY*/
body.v{
  background-image:url('../images/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  margin:0;
  padding:0;
  border:0;
  width: 100%;
  height: 100%;
  verflow: hidden;
    -webkit-animation: v 12s infinite;
    animation: v 12s infinite;
}
@keyframes v{
  0% {background:#A2B2A6;}
  20%{background:#A5BE9D;}
  40%{background:#9CA582;}
  60%{background:##E0E4AA;}
  80%{background:#BAC9AA;}
  100%{background:#9CA582;}
}

@-webkit-keyframes v{
  2% {background:#29ADF0;}
  20%{background:#F02999;}
  40%{background:#F06E29;}
  60%{background:#F0D829;}
  80%{background:#29F03A;}
  100%{background:#29ADF0;}
}
          /*FIN BODY*/

#container{
  position:absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

          /*ETOILES*/
div.header{
  display: block;
  width: 0;
  position:relative;
}

#etoile{
    position:relative;
    width: 110px;
    height: 110px;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
}

#etoile:hover {
    width: 190px;
    height: 190px;
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 1000px;
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
    text-align:left;
    font-family: "CaviarDreams";
    font-size: 1em;
    border-radius: 12px;
    padding: 8px 8px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 43%;
    left: 105%;
     /*Fade in tooltip - takes 1 second to go from 0% to 100%
    opac: */
    opacity: 0;
    transition: opacity 6s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
          /*FIN ETOILES*/


div .top{
  position: absolute;
  top: 5%;
  left: 5%;
  display:inline-block;
  width: 95%;
  height:20%;
}

          /*NAV*/
nav{
  position: absolute;
  display: block;
  left: 6%;
  margin-top: 0;
}

nav a{
  font-family: "CaviarDreams";
  text-decoration:none;
  color:rgb(66, 78, 78);
  font-size: 1.9em;
  margin-left: 40px;
}

nav a:hover{
    width: 90%;
    height: 90%;
    color:white;
    border-radius:10px;
    background-color: #c8e863;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 2s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    from {background-color: #708B75;}
    to {background-color: #c5e897;}
}
a#apropos{
  text-shadow: 0 0 80px rgba(255,255,255,.5);
background: url('http://tub.tubgit.com/reimg/resize-img.php?src=http://photos.up-wallpaper.com/images254/2i3jwycal3t.jpg&h=450&w=728') repeat-y;
	  -webkit-background-clip: text;

/* Animate Background Image */

	  -webkit-text-fill-color: transparent;
	  -webkit-animation: aitf 20s linear infinite;

/* Activate hardware acceleration for smoother animations */

	  -webkit-transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;

  }
  @-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}

          /*FIN NAV*/


          /*RESEAUX*/
.icones{
  text-decoration: none;
  /*display: inline-block;*/
  position:relative;
  display: inline-block;
  left: 50%;
  top: 8%;
  margin-left:1em;
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s; /* Safari*/
  transition: width 1s, height 1s, transform 1s;
}

.icones:hover{
  /*color:black;*/
  -webkit-transform: rotate(160deg); /* Safari */
  transform: rotate(160deg);
}

a.icones{
  position: relative;
  /*left: 10px;*/
  /*padding: 5px;*/
}

          /*MODALS CV-LECTURES-PORTRAIT*/
/*.droite {
  float:top;
}*/

.olebeauModal {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.olebeauModal:target {
  opacity:1;
  pointer-events: auto;
}

.olebeauModal:target > div {
  /*margin: 10% auto;*/
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}


.olebeauModal > section{
  margin: 0;
  padding:0;
  width: 100%;
  height: 100%;
}

/*boutons modals*/
div.boutons{
  position:absolute;
  /*border: 1px solid black;*/
  width: 90%;
  height: 80%;
  right: 0;
  left:0;
}

a#bouton-cv{
  position: absolute;
  top:15%;
  left:9%
}
img#flechecv{
  position: absolute;
  left:14%;
  top:54%;
}
p#clickcv{
  font-family: "BlackJack";
  font-size: 1.2em;
  position: absolute;
  top:57%;
  left:15%;
}
a#bouton-lecture{
  /*border: 1px solid black;*/
  position: relative;
  top:28%;
  left:44%;
}
img#flechelecture{
  position: absolute;
  left:42%;
  top:73%;
  transform: rotate("60%");
}
p#clicklecture{
  font-family: "BlackJack";
  font-size: 1.2em;
  position: absolute;
  top:76%;
  left:38%;
}

a#bouton-portrait{
  position:relative;
  top:5%;
  left:56%;
}

img.animation{
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
  transition: width 2s, height 2s, transform 2s;
}
img.animation:hover{
  -webkit-transform: rotate(110deg); /* Safari */
  transform: rotate(110deg);
}

          /*IMG PLAN DE SAM*/
img#plansam{
  position: absolute;
  height: 99%;
  top: 0;
  left: 10%;
}
img#croixcv{
  display: block;
  right: 8%;
  position: absolute;
  width: 5%;
  height: 5%;
}
a.moncv{
  font-family: "CaviarDreams";
  text-decoration:none;
  color: black;
  font-size: 1em;
  display: block;
  position: absolute;
  right:1%;
  bottom: 2%;
}
          /*FIN IMG PLAN DE SAM*/


          /*BG LECTURE*/
div.bg-lecture{
  background: rgba(255, 255, 255, 1);
}
          /*FIN BG LECTURE*/


          /*BG PORTRAIT*/
div.bg-portrait{
  background: rgba(255, 255, 255, 1);
}
          /*FIN BG PORTRAIT*/


          /*IMG MES LECTURES*/
img#lectures{
  position: absolute;
  height: 99%;
  top: 0;
  left: 10%;
}
img#croixlecture{
  display: block;
  right: 12%;
  top:3%;
  position: absolute;
  width: 5%;
  height: 5%;
}
          /*FIN IMG MES LECTURES*/

/*IMG PORTRAIT*/
img#portrait{
  position: absolute;
  height: 99%;
  top: 0;
  left: 10%;
}
img#croixportrait{
  display: block;
  top:3%;
  right: 8%;
  position: absolute;
  width: 5%;
  height: 5%;

}
/*FIN IMG PORTRAIT*/


          /*FOOTER*/
footer{
  position: fixed;
  font-family: "CaviarDreams";
  font-size: 15px;
  bottom:0;
  left: 35%;
}
footer a:hover{
  text-decoration:none;
  list-style: none;
  color:#6CA980;
}
p span a{
  text-decoration: none;
  color:black;
}
footer p span{
  margin-left: 20px;
}
