/***********FONT**************/
@import url(http://fonts.googleapis.com/css?family=Raleway+Dots);
@import url(http://fonts.googleapis.com/css?family=Advent+Pro:400,200,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic);

/***********SITE**************/
body{
  margin: 0 auto;
  padding: 0;
  font-family: 'Open Sans Condensed';
  font-weight: 300;
  height: 100%;
  width: 100%;
}

/*****************************************************************************************************************/
/***********************************************==HOME************************************************************/
/*****************************************************************************************************************/

/*fond bleu*/
#home{
  background-color: #60A5FF;
  display:flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

/***********LOGO**************/
/*conteneur du logo*/
#logo{
  width: 24%;
  height: 100%;
}
/*le logo animé*/
.logo {
  margin-top: 5%;
  margin-left: 8%;
  -webkit-perspective: 250px;
  perspective: 250px;
  display: inline-block;
  font-family: Montserrat;
  font-size: 4em;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -.05em;
}
/*couleur du logo (m1=raf, m2=ik)*/
.logo span { display: inline-block; }
.m1 { color: #FFF; }
.m2 { color: #000 ; }

/*********TETE**********/
/*conteneur de la tete (milieu)*/
#tete{
  width: 45%;
  height: 60%;
  margin: 0 auto;
  text-align: center;
  margin-top: 5%;
}
/*image de la tete*/
#tete img{
  position: relative;
  width: 100%;
  height: 100%;
  /*margin: 0 auto;*/
  z-index: 1000;
}

/****************ANIMATION DES YEUX***************/
/*conteneur des yeux et de la tete*/
.tete_yeux{
  position: absolute;
  width: 46%;
  height: 51%;
}
/*couleurs et formes de la pupille*/
#pupilleft,
#pupilright,
#dogpupilleft,
#dogpupilright {
  position: relative;
  background: radial-gradient(ellipse at center, black 13%, black 15%, black 15%, black 20%, #00A19A 25%, #00A19A 51%);
  border-radius: 50%;
  z-index: 1;
}

/*couleurs et forme des yeux*/
#eyeleft,
#eyeright,
#dogeyeleft,
#dogeyeright {
  position: absolute;
  background: #FFFFFF;
  overflow: hidden;
  border-radius: 50%;
  z-index: 1;
}

/*taille pupille gauche*/
#dogpupilleft {
  width: 60%;
  height: 70%;
  z-index: 1;
}

/*taille pupille droite*/
#dogpupilright{
  width: 60%;
  height: 70%;
  z-index: 1;
}

/*taille oeil gauche*/
#dogeyeleft
{
  width: 7%;
  height: 9%;
  left: 39.5%;
  top: 46%;
    z-index: 1;
  /*left: 605px;
  top: 225px;*/
  z-index: 1;
}

/*taille oeil droit*/
#dogeyeright {
  width: 7%;
  height: 9%;
  left: 51.45%;
  top: 46%;
  /*left: 605px;
  top: 225px;*/
  z-index: 1;
}

/*********MENU**********/

nav {
  margin-top: 5%;
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  font-size: 1.5em;
  text-align:center;
  margin-bottom: 3%;
  text-decoration: none;
}

nav a {
  color: black;
  text-decoration: none;
}
nav a:hover {
  color: white;
  text-decoration: none;
}

/*********RESEAUX SOCIAUX**********/
/*conteneur*/
#social {
  width: 24%;
  height: 100%;
}
/*LIEN RESEAUX SOCIAUX HEADER*/
/*police des liens entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

section{
  width: 100%;
}

section #services2 {
  margin-right: 25px;
  text-align: center;
  transform: translatez(0);
}

section #services2 li {
  width: 10px;
  height: 30px;
  display: inline-block;
  margin: 20px;
  list-style: none;
}

section #services2 li div {
  width: 40px;
  height: 40px;
  color: #60A5FF;
  font-size: 1.5em;
  text-align: center;
  line-height: 40px;
  background-color: #fff;
  transition: all 0.5s ease;
}

section #services2 li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
}

section #services2 li span {
  width: 85px;
  height: 20px;
  display: block;
  padding: 15px 0px;
  color: #fff;
  font-family: 'Advent Pro', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
}

section #services2 a {
  text-decoration: none;
}

/**************PASTILLES 3 PAGES SCROOL******************/
/*postionnement des pastilles*/
.scrool{
  opacity: 0.5;
  -webkit-backface-visibility: hidden;
  z-index: 5;
  position: fixed;
  top: 40%;
  left:92%;
  right: 0px;
  margin: auto;
  width: 100px;
}
/*tailles des pastilles*/
.scrool li{
  height: 20px;
  margin: 20px 0px;
  list-style: none;
}
/*style des pastille*/
.scrool a{
  display: block;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
  border-radius: 25px;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  background-color: #60A5FF;
  border: 3px solid #60A5FF;
  transition: all 0.3s ease;
  position: relative;
  left: 0px;
  top: 0px;
}
/*style des pastille au survol*/
.scrool a:hover{ background-color: #FFF; width: 30px; height: 30px; left: -3px; top: -2px}
/*style des pastille a l'activation*/
.scrool a.active{ background-color: #FFF; width: 30px; height: 30px; left: -3px; top: -2px}

/*BOUTON RETOUR EN HAUT DU SITE*/
.go-top {
	position: fixed;
	bottom: 2em;
	right: 2em;
	text-decoration: none;
	color: white;
	font-size: 12px;
	padding: 1em;
	display: none;
}

/*****************************************************************************************************************/
/***********************************************==PAGE 1************************************************************/
/*****************************************************************************************************************/

/***********PRESENTATION**************/

#presentation{
  display:flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
  margin-top: -12%;
}

#bande_blanche{
  background: white;
  width: 100%;
  height: 20px;
}

#bande{
  margin-top: 1%;
  background-color: #60A5FF;
  height: 100%;
  width: 100%;
  text-align: center;

}

#bande a img{
  width: 8%;
  height: 100%;
  padding-top: 2%;
  margin: 0  auto;
  left: 48.1%;
  vertical-align: bottom;
}

.pres_h1{
  background-color: white;
  width: 100%;
  text-align: center;
  margin: 0;
}

#presentation h1{
  background-color: white;
  width: 100%;
  text-align: center;
  margin: 0;
  margin-top: 1%;
}


#presentation_content{
  width: 50%;
  height: 100%;
  background-color: ;
  padding-left: 5%;
}

.content img{
  float: left;
  margin-right: 5%;
}

.content h2{
  text-align: left;
  display: block;
  color: #60A5FF;
}
 .content:nth-child(2) h2{
   color: #FF1D25;
 }

 .content:nth-child(3) h2{
   color: #FF931E;
 }

.content p{
  font-size: 1.1em;
  text-align: justify;
}

.content a{
  text-decoration: none;
  color: #60A5FF;
}


#perso{
  background-color: ;
  width: 45%;
  height: 100%;
}

#perso img{
  width: 85%;
  height: 100%;
  float: right;
  padding-right: 10%;
}

/*****************************************************************************************************************/
/***********************************************==PAGE 2************************************************************/
/*****************************************************************************************************************/

/***********REALISATIONS**************/

#realisation{
  display:flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
}

#bande_rouge{
  margin-top: 1%;
  background-color: #60A5FF;
  height: 100%;
  width: 100%;
  text-align: center;

}

#bande_rouge a img{
  width: 8%;
  height: 100%;
  padding-top: 2%;
  margin: 0  auto;
  left: 48.1%;
  vertical-align: bottom;
}

#realisation h1{
  width: 100%;
  text-align: center;
}

/*************CAROUSEL*****************/

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; }
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 25s slidy infinite;
}

.carousel{
  position: relative;
  margin: 0 auto;
  right: 11%;
  text-align: center;
  margin-bottom: 5%;
  width: 60%;
}

.carousel img{
  position: relative;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5%;
}

#slider{
  top:3.5%;
  left: 19.5%;
  width: 61.5%;
  height: 100%;
  z-index: 1000;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5%;
  position: absolute;
}

#realisation img{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5%;
}

#perso_book{
  margin-top: 5%;
  position: relative;
  width: 20%;
}

/*****************************************************************************************************************/
/***********************************************==PAGE 3************************************************************/
/*****************************************************************************************************************/

/***********CONTACT**************/

#contact{
  display:flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
}

#bande_orange{
  margin-top: 1%;
  background-color: #60A5FF;
  height: 100%;
  width: 100%;
  text-align: center;

}

#bande_orange a img{
  width: 8%;
  height: 100%;
  padding-top: 2%;
  margin: 0  auto;
  left: 48.1%;
  vertical-align: bottom;
}

#contact h1{
  width: 100%;
  text-align: center;
}




/**************ORDI*****************/


#ordi{
  width: 60%;
  height: 100%;
  z-index: 0;
}

#ordi img{
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 5%;
  margin-left: 2%;
  z-index: 0;
}

#download_bras img{
  float: right;
  width: 100%;
  height: 100%;


}

#download_bras{
  margin-left: 10%;
  position:  absolute;
  float: right;
  margin-top: 20%;

}

#download_bras span{
  position:  absolute;
  margin-top: -53%;
  margin-left: -10%;
  color: #60A5FF;
  font-size: 1.5em;
  font-weight: bold;

}

#fleche {
  position:  absolute;
  margin-top: -55%;
  margin-left: 20%;
  transform: rotate(25deg);

}

#download{
  margin-left: 8.5%;
  position:  absolute;
  margin-top: 11%;
}

#download a img{
  width: 100%;
  height: 100%;
}

/*ANIMATION LIEN TELECHARGEMENT DU CV*/
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@import "compass/css3";

*,*:after,*:before{
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
box-sizing:border-box;

}


/*****************************************************************************************************************/
/***********************************************==FOOTER************************************************************/
/*****************************************************************************************************************/

.footer{
  margin-top: 500px;
  width: 100%;
  height: 300px;
  background-color: #60A5FF;
  z-index: 1000;
}

/*LIEN RESEAUX SOCIAUX FOOTER*/
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
/*taille du conteneur*/
section{
  width: 100%;
}

section #services {
  text-align: center;
  transform: translatez(0);
}
/*tailles et marges des carrés*/
section #services li {
  width: 80px;
  height: 100px;
  display: inline-block;
  margin: 20px;
  list-style: none;
}
/*taille et couleur des logo*/
section #services li div {
  width: 80px;
  height: 80px;
  color: #60A5FF;
  font-size: 3.4em;
  text-align: center;
  line-height: 80px;
  background-color: #fff;
  transition: all 0.5s ease;
}
section #services li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
}
section #services li span {
  width: 85px;
  height: 20px;
  display: block;
  padding: 15px 0px;
  color: #fff;
  font-family: 'Advent Pro', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
}
 /*style liens*/
section #services a {
  text-decoration: none;
}























a {
  color: inherit;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

h1 {
  font-size: 3em;
}




.menu-item, .menu-open-button {

  background: #60A5FF;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  /*margin-left: 30px;*/
  position: fixed;
  /*top: -80%;*/
  color: white;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
  display: none;
}

.hamburger {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.hamburger-1 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform: translate3d(0, -8px, 0);
          transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
          transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
          transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
          transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
          transform: translate3d(0, 0, 0) rotate(-45deg);
}


.menu2 {
  position: absolute;
	top:-2em;
	right: 5em;
  color: white;
  text-align: center;
  z-index: 1000;
  -webkit-filter: url("#shadowed-goo");
          filter: url("#shadowed-goo");
          margin-left: 0%;
          /*position: absolute;
          left: 50%;
          margin-left: -80px;
          padding-top: 20px;
          padding-left: 80px;*/
          width: auto;
          height: auto;
          box-sizing: border-box;
          font-size: 20px;
          text-align: left;
}

.menu2 img{
  margin-top: 10px;
}

.menu-item:hover {
  background: white;
  color: #00bcd4;
}
.menu-item:nth-child(3) {
  border: solid white 1px;
  /*background-color: #60A5FF;*/
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(4) {

  border: solid white 1px;
  /*background-color: #FF1D25;*/
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(5) {
  border: solid white 1px;
  /*background-color: #FF931E;*/
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
          transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  border: solid white 1px;
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
          transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
          transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.menu-open:checked ~ .menu-item:nth-child(3) {
  -webkit-transition-duration: 190ms;
          transition-duration: 190ms;
  -webkit-transform: translate3d(0, 110px, 0);
          transform: translate3d(0, 110px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
  -webkit-transition-duration: 290ms;
          transition-duration: 290ms;
  -webkit-transform: translate3d(0, 220px, 0);
          transform: translate3d(0, 220px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
  -webkit-transition-duration: 390ms;
          transition-duration: 390ms;
  -webkit-transform: translate3d(0, 330px, 0);
          transform: translate3d(0, 330px, 0);
}













/*****************************************************************************************************************/
/***********************************************==MEDIAQUERIE MOBILE**********************************************/
/*****************************************************************************************************************/

/*MEDIAQUERIE MOBILE*/

@media screen and (max-width: 810px)
{

  body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans Condensed';
    font-weight: 300;
    height: 100%;
    width: 100%;
  }

  #home{
    width: 100%;
    height:100%;
    background-color: #60A5FF;
    margin: 0 auto;
  }

  #social{
    display: none;
  }

  section #services2 {
      display: none;
    }

    #logo{
      width: 100%;
      height: 2%;
      text-align: center;
    }

    .logo {
      margin-right: 10%;
      margin-top: 5%;
      -webkit-perspective: 250px;
      perspective: 250px;
      display: inline-block;
      font-family: Montserrat;
      font-size: 3em;
      font-weight: bold;
      text-decoration: none;
      letter-spacing: -.05em;
    }

    .tete_yeux{
      position: absolute;
      width: 46%;
      height: 51%;
      display: none;
    }

    #tete{
      width: 100%;
      margin: 0 auto;
      text-align: center;
      background-position: center;
      background-image: url(images/illustrations/tete.svg);
      background-repeat: no-repeat;
    }

    #presentation{
      margin: 0 auto;
      width: 100%;
      flex-direction: column;
    }

    #presentation_content{
      padding-right: 20px;
      width: 100%;
    }

    #perso{
      width: 100%;
    }

    #perso img{
      padding: 0;
      width: 100%;
    }

    #realisation{
      margin: 0 auto;
      width: 100%;
      flex-direction: column;
    }

    .carousel{
      position: relative;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 5%;
      width: 100%;
    }

    .carousel img{
      position: relative;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 5%;
    }

    #slider{
      top:3.5%;
      left: 10%;
      width: 100%;
      height: 100%;
      z-index: 1000;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 5%;
      position: absolute;
    }

    #realisation img{
      width: 100%;
      height: 100%;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 5%;
    }
    #perso_book{
      width: 50%;
      display: none;
    }
    .menu2 {
      position: absolute;
    	top:-5%;
    	right: 25%;
      color: white;
      text-align: center;
      z-index: 1000;
      -webkit-filter: url("#shadowed-goo");
              filter: url("#shadowed-goo");
              margin-left: 0%;
              /*position: absolute;
              left: 50%;
              margin-left: -80px;
              padding-top: 20px;
              padding-left: 80px;*/
              width: auto;
              height: auto;
              box-sizing: border-box;
              font-size: 20px;
              text-align: left;
    }
}
