@media screen and (max-device-width: 480px){

    /* Ici du code s'appliquant aux écrans de moins de 480 pixels de large */

        h1{

        color: white;
        text-align: center;
        font-family: 'allan', cursive;
        font-size: 20px;


        }

        ul{

             display: table;
             width:2700px;
             -webkit-animation: slideAnim 20s ease 0s infinite;
                -moz-animation: slideAnim 20s ease 0s infinite;
                 -ms-animation: slideAnim 20s ease 0s infinite;
                  -o-animation: slideAnim 20s ease 0s infinite;
                     animation: slideAnim 20s ease 0s infinite;
        }

        ul li{
             display: table-cell;
             width:300px;
        }


        @keyframes slideAnim{
        from,11%,to {margin-left:-500px;}
        15%,26%{margin-left:-950px;}
        30%,41%{margin-left:-1420px;}
        45%,56%{margin-left:-1890px;}
        65%,76%{margin-left:-2360px;}
        80%,91%{margin-left:-2830px;}
        99.99%{margin-left:-3500px;}
        }

        @keyframes slideAnim{
        from,11%,to {margin-left:-500px;}
        15%,26%{margin-left:-950px;}
        30%,41%{margin-left:-1420px;}
        45%,56%{margin-left:-1890px;}
        65%,76%{margin-left:-2360px;}
        80%,91%{margin-left:-2830px;}
        99.99%{margin-left:-3500px;}
        }

        @keyframes slideAnim{
        from,11%,to {margin-left:-500px;}
        15%,26%{margin-left:-950px;}
        30%,41%{margin-left:-1420px;}
        45%,56%{margin-left:-1890px;}
        65%,76%{margin-left:-2360px;}
        80%,91%{margin-left:-2830px;}
        99.99%{margin-left:-3500px;}
        }

        @keyframes slideAnim{
        from,11%,to {margin-left:-500px;}
        15%,26%{margin-left:-950px;}
        30%,41%{margin-left:-1420px;}
        45%,56%{margin-left:-1890px;}
        65%,76%{margin-left:-2360px;}
        80%,91%{margin-left:-2830px;}
        99.99%{margin-left:-3500px;}
        }

        @keyframes slideAnim{
        from,11%,to {margin-left:-500px;}
        15%,26%{margin-left:-950px;}
        30%,41%{margin-left:-1420px;}
        45%,56%{margin-left:-1890px;}
        65%,76%{margin-left:-2360px;}
        80%,91%{margin-left:-2830px;}
        99.99%{margin-left:-3500px;}
        }

        .bouton{
        position: absolute;
        top: 25%;
        left: 25%;
        border-radius: 6px;
        background-color: gray;
        padding: 5px 5px 5px 5px;
        color: red;


        }

}
