body{
  background-color: #16201F

}

h1{

color: white;
text-align: center;
font-family: 'allan', cursive;
font-size: 50px;


}

ul{

     display: table;
     width:2700px;
     -webkit-animation: slideAnim 20s ease 0s infinite;
        -moz-animation: slideAnim 20s ease 0s infinite;
         -ms-animation: slideAnim 20s ease 0s infinite;
          -o-animation: slideAnim 20s ease 0s infinite;
             animation: slideAnim 20s ease 0s infinite;
}

ul li{
     display: table-cell;
     width:300px;
}

@keyframes slideAnim{
from,11%,to {margin-left:-500px;}
15%,26%{margin-left:-1200px;}
30%,41%{margin-left:-1700px;}
45%,56%{margin-left:-2200px;}
65%,76%{margin-left:-2700px;}
80%,91%{margin-left:-3200px;}
99.99%{margin-left:-4200px;}
}

@keyframes slideAnim{
from,11%,to {margin-left:-500px;}
15%,26%{margin-left:-1200px;}
30%,41%{margin-left:-1700px;}
45%,56%{margin-left:-2200px;}
65%,76%{margin-left:-2700px;}
80%,91%{margin-left:-3200px;}
99.99%{margin-left:-4200px;}
}

@keyframes slideAnim{
from,11%,to {margin-left:-500px;}
15%,26%{margin-left:-1200px;}
30%,41%{margin-left:-1700px;}
45%,56%{margin-left:-2200px;}
65%,76%{margin-left:-2700px;}
80%,91%{margin-left:-3200px;}
99.99%{margin-left:-4200px;}
}

@keyframes slideAnim{
from,11%,to {margin-left:-500px;}
15%,26%{margin-left:-1200px;}
30%,41%{margin-left:-1700px;}
45%,56%{margin-left:-2200px;}
65%,76%{margin-left:-2700px;}
80%,91%{margin-left:-3200px;}
99.99%{margin-left:-4200px;}
}
@keyframes slideAnim{
from,11%,to {margin-left:-500px;}
15%,26%{margin-left:-1200px;}
30%,41%{margin-left:-1700px;}
45%,56%{margin-left:-2200px;}
65%,76%{margin-left:-2700px;}
80%,91%{margin-left:-3200px;}
99.99%{margin-left:-4200px;}
}




.bouton{
position: absolute;
top: 25%;
left: 43%;
border-radius: 6px;
background-color: gray;
padding: 5px 5px 5px 5px;
color: red;


}
